body {
    background: darkgoldenrod;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: black;
    text-align: center;
}

.frame {
    width: 80%;
    border: 5px solid #666566;
    background: bisque;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 11px;
}

p{
    text-align: justify;
}

h2, h3{
    text-align: center;
}

.picture01, .schematic {
    width: 70%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: auto;
    display: block;
}

.schematic:hover {
    transform: scale(1.5);
    transition: 0.1s;
}

.gitar-list {
    list-style: none;
}

.gitar-list li {
    border: 1px solid darkgoldenrod;
    border-radius: 8px;
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
}

.listgitarpictures {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 120px;
    height: auto;
    float: left;
    margin: 0 15px 10px 0;
}

.picture02 {
    float: left;
    margin: 0 15px 10px 20px;
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
}

.clear {
    clear: both;
}

.left-float {
    float: left;
    width: 40%;
}

.right-float {
    float: right;
    width: 40%;
}

.Gitar-artists td, th {
    border: 1px solid #000;
    padding: 5px;
}

.Gitar-artists {
    width: 80%;
    border-collapse: collapse;
    text-align: left;
    margin: 55px;
}